{% load static %}
<!DOCTYPE html>
{% load i18n %}
<html>
<head>
	<title>{% block title %} {% trans "Indian Shop" %} {% endblock %}</title>
	<link href ="{% static 'css/base.css' %}" rel="stylesheet">
	
</head>
<body>
	<div id="header">
		<a href="/" class="logo" >{% trans "Apni Dukaan" %}</a>
	</div>
	<div id="subheader">
		<div class="cart">
                        {% with total_items=cart|length %}
                        {% if cart|length > 0 %}
			Your cart:
                        <a href ="{% url 'cart:cart_detail' %}">{{total_items}} item {{total_items|pluralize}} ₹{{cart.get_total_price}}</a>
	 		{% else %}
				{% trans "Your Cart is Empty." %}
			{% endif %}
			{% endwith %}
		</div>
	</div>
	<div id="content">
		{% block content %}
		{% endblock %}
	</div>
</body>
</html>
